<div class="container-fluid page_box mat-typography">
	<div class="row no-gutters page_header-box">
		<div class="col-12 no-gutters">
			<h21-header [userName]="userName"
						[userCardData]="userCardData"
						[logotypeUrl]="'./assets/img/logo.svg'"
						(onLogout)="logout()"></h21-header>
			<h21-top-toolbar [showSidenavToggle]="true"
							 [sidenavToggleDisabled]="sidenavToggleDisabled"
							 [sidenavOpened]="sidenavOpened && !isRoute('hotelbook')"
							 [showCart]="true"
							 [showLanguageControl]="true"
							 [showCurrencyControl]="true"
							 (onSidenavToggle)="leftSidenavToggle()"></h21-top-toolbar>
		</div>
	</div>
	<div class="row no-gutters page_content-box">
		<div class="col-12 no-gutters __has-sidebar">
			<h21-sidebar-nav [selected]="sidebarNavActiveTab"
							 [disabled]="sidebarNavDisabled"
							 [(tabs)]="sidebarNavTabs"
							 (onChanged)="sidebarNavAction($event)"></h21-sidebar-nav>
			<mat-sidenav-container [hasBackdrop]="contentSidenavHasBackdrop" autosize>

				<mat-sidenav #leftSidenav
							 position="start"
							 [mode]="'side'"
							 [opened]="sidenavOpened"
							 class="page_left-sidenav">
					<div class="page_left-sidenav-inner">
						<div class="page_sidenav-search-actions">
							<h21-hotel-search-panel *ngIf="activeLeftSidenavPanel == 'search'"
													[searchMode]="searchMode"
													(onSearch)="search($event)"
													(onClearSearch)="clearSearch()"></h21-hotel-search-panel>
							<h21-hotel-filter-panel *ngIf="activeLeftSidenavPanel == 'filter'"
													[viewMode]="searchResultViewMode"
													(onChangeViewMode)="changeResultViewMode($event)"></h21-hotel-filter-panel>
							<h21-history-panel *ngIf="activeLeftSidenavPanel == 'history'"></h21-history-panel>


						</div>
						<div class="page_sidenav-search-result" *ngIf="searchResultVisibility"
							 [class.page_sidenav-search-result__grid]="searchResultViewMode == 'grid'"
							 [class.page_sidenav-search-result__map]="searchResultViewMode == 'map'">
							<h21-hotel-search-result [viewMode]="searchResultViewMode" #searchResult></h21-hotel-search-result>
						</div>
					</div>
				</mat-sidenav>

				<mat-sidenav #rightSidenav
							 position="end"
							 [mode]="rightSidenavMode"
							 [opened]="rightSidenavOpened"
							 [fixedInViewport]="true"
							 [fixedTopGap]="0"
							 [fixedBottomGap]="0"
							 class="page_right-sidenav">
				</mat-sidenav>

				<mat-sidenav-content #contentSidenav>
					<div class="map-box">
						<router-outlet></router-outlet>
					</div>
				</mat-sidenav-content>
			</mat-sidenav-container>
		</div>
	</div>
</div>
